<h2>Some complaint about this course</h2>
<p>Web Frontend is a useful and interesting, yet not all people need it in their future. First of all, not all people are going to be web developers. Then, even if one has the need of designing his or her own personal website, he or she has choices like <a href="https://www.wordpress.com/">Wordpress</a>, <a href="https://ghost.org/">Ghost.io</a> or static site generators like <a href="https://jekyllrb.com/">Jekyll</a>, all of which are easy to use and require few frontend knowledges. Hence, it seems wrong to make this course mandatory for all students.</p>
<p>As for the first class there are also various problems, errors and deficiencies. The presentation itself is totally in chaos and the teacher himself speaks randomly with no clear logical relations. His accents are also big problem that prevents his speaking from being understood by students. As for the homework, no frameworks and libraries are allowed, which is rediculous. Web Frontend design is complicated and difficult, and one class cannot cover all of the fundamental knowledges of HTML, CSS and JS, so its unrealistic to write from scratch. Yet in such a situation we are not allowed to use tools and have to "invent the wheel" ourselves. That's something I cannot understand.</p>
<p>The first Web Frontend class makes me disappointed and I wonder the quality of remaining classes. I hope teaches can pay enough attentions to students' suggestions and do not make this course a waste of time.</p>
<br />

<h2>关于结对编程的体会与感悟</h2>
<p>在开发微信抢票公众号的过程中，我们尝试了结对编程这一形式。我们在微信抢票与活动开始提醒这两个功能的开发中进行了尝试，原因是提醒功能的实现方式与一般的Django程序不同，且更难调试，对正确性的要求比较高。</p>
<p>在开发的过程中，我认识到了结对编程的一些优点。比如通过观察其它人的代码，可以统一代码风格。此外，有其他人评价与审核代码，可以更快的发现代码的错误，以及跳出自身的思维定势。最重要的是，结对编程可以增进组员之间的感情。</p>
<p>同时，我们也认为结对编程存在一些不足。首先，结对编程要求两个人的实力相当，且对将要写的代码都要相对深入的了解。否则由于其中一个人对代码缺乏了解，需要花费额外的时间讲解代码的作用，会造成效率的下降，且结对编程承诺的优势此时也会大打折扣。其次，结对编程时容易滋生不公平分工的现象。最后，有一些工作不适合结对编程完成，如架构设计等。</p>
<br />

<h2>微信抢票感想</h2>
<p>微信抢票系统的开发暂时告一段落，也终于有机会从紧张的开发中放松下来，写篇博客整理一下自己的思绪。这次开发最大的感受是，坑真多。请不要误会，这里的坑都是技术上的，抛开各种工具的奇怪特性不谈，此次开发经历着实令人难忘。</p>
<p>技术上最值得吐槽的一个地方就是Selenium。很难说是不是PhantomJS的锅，但是功能测试过程中Selenium带来的问题数不胜数：有窗口大小太小造成无法选中元素的问题，而且最大化仍然无济于事，只能手动将窗口大小设为远远大于实际屏幕大小；有测试过程中Selenium/PhantomJS卡死造成需要多次运行测试；有Selenium元素选择器和按文字选择元素的不友好；有问题百出，时常超时的WebDriverWait。总而言之，尽管Selenium历史悠久且为人所熟知，我们还是需要一个更好用的浏览器模拟和功能测试框架。也许直接用PhantomJS写是个更好的方案？</p>
<p>除此之外，代码中的细小问题也让人比较糟心。前端代码中存在着诸多问题，有时阻碍了后端问题的发现与鉴别，好在在大家的齐心协力下基本得到了解决。另外工程设置中的模版部分有画蛇添足之嫌，非调试模式下增加的代码反而使部署出现了问题。此外静态文件部分禁止在非开发模式下传输静态文件，似有不妥，其本意很好，让大家在生产环境中使用高性能的服务器分发静态文件，但是直接禁止文件传输却反而让一些特殊环境出现了问题。</p>
<p>撇开技术不谈，这一次微信抢票系统的开发还是给我留下了深刻的印象。我和我的搭档每个晚上共同奋战，结对完成开发任务，从中结下了深厚的友谊。结对编程的过程提高了效率，提供了全新的视角，使得问题变得更加容易解决。编写测试的过程，让我对代码的正确性有了全新的认识：代码要经得起各式各样边界条件的考验，也要能够在随机的输入下正常工作，最终则要加上模拟操作的保障。修复前端问题的过程为公用代码库的工程，算是我第一次提起Pull Request，想想还是十分激动的。</p>
<p>当然还是有一个小小的槽点：有些组为了分数，提起大量无效的Pull Request。没有解决任何实质性的问题不谈，反而还需要助教主动将代码回退到Pull Request之前。如此功利的为了指标与成绩提起PR，我认为这是不妥的。损害了公平性不说，还使得当事人曲解了Pull Request的意义。希望老师和助教能够指出此中谬误，予以纠正，使得Pull Request真正为提高代码质量，解决问题而服务，回到其应有的角色上来。</p>
<p>总而言之，此次开发我总体感到满意，也真正的认识到了软件工程这门课的真正价值：体验软件开发的方法与过程，为走向社会后真正的软件开发打好基础。</p>
