<div class="col-3">
    <!-- About me -->
    <h2>About Me</h2>
    <p>I'm Qifan Lu, and I currently study in School of Software, Tsinghua University.</p>
    <p>Looking forward to network-related researches.</p>
    <!-- Past projects -->
    <h2>Past Projects</h2>
    <ul>
        <li><a href="https://coding.net/u/lqf96/p/xv6/git">Xv6 with IPC</a></li>
        <li><a href="https://coding.net/u/lqf96/p/DSA-P2/git">DSA Project 2 Demo</a></li>
        <li><a href="https://github.com/lqf96/chrome-crawler">Chrome Crawler</a></li>
    </ul>
    <!-- Contacts -->
    <h2>Contacts</h2>
    <ul>
        <li>Email: lqf.1996121 at gmail dot com</li>
        <li>Github: <a href="https://github.com/lqf96">lqf96</a></li>
        <li>Coding: <a href="https://coding.net/u/lqf96">lqf96</a></li>
    </ul>
    <!-- Recent blogs -->
    <h2>Recent blogs</h2>
    <ul>
        <li><a href="#/blogs">Some complaint about this course</a></li>
    </ul>
</div>
<div class="col-1">
    <h2>Photo Booth</h2>
    <img src="assets/photo1.jpeg" width="100%" />
    <p>Green is my favorite color and I love nature.</p>
</div>
