@font-face
{   font-family: segoe-light;
    src: url(/assets/segoe-light.woff);
}

::before, ::after
{   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container::before
{   display: table;
    content: " ";
}

.container::after
{   display: table;
    content: " ";
    clear: both;
}

@media (max-width: 768px)
{   .nav-item
    {   padding: 10px;
        display: block;
    }

    .col-1, .col-2, .col-3
    {   position: relative;
        -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px)
{   body
    {   width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) and (max-width: 1200px)
{   body
    {   width: 970px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px)
{   body
    {   width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px)
{   .nav-item
    {   padding: 15px;
        display: inline-block;
    }

    .col-1, .col-2, .col-3
    {   float: left;
	    position: relative;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	.col-1
    {   width: 25%;
	}

	.col-2
    {   width: 50%;
	}

	.col-3
    {   width: 75%;
	}
}

*
{   font-family: segoe-light;
    font-weight: 200;
    color: white;
    -webkit-font-smoothing: antialiased;
}

body
{   background-color: black;
}

hr
{   margin-top: 15px;
    margin-bottom: 15px;
}

h1
{   font-size: 35px;
}

ul
{   padding-left: 20px;
}

.nav-item
{   text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}

.nav-item:hover
{   background-color: white;
    color: black;
}

.nav-item:active
{   background-color: white;
    color: black;
}

.nav-item.active
{   background-color: white;
    color: black;
}

#page-vice-title
{   margin-bottom: 25px;
}
